form{
    border: solid 1px;
    width: 800px;
    margin-left: 300px;
    background-color:cyan;
    padding-left: 20px;
}
h1{
    color: red;
    font-size: 50px;
    text-align: left;
}
p{
    color:blue;
    font-size: 23px;
}
label{
    font-size: 22px;
    color:darkviolet;
    font-weight: bold;
}
input{
    height: 30px;
    width: 350px;
}
textarea{
    height: 80px;
    width: 350px;
    border-radius: 15px;
}
button{
    height: 50px;
    width: 200px;
    background-color: blueviolet;
    border-radius: 20px;
    color: chartreuse;
    font-size: 20px;

}